.card {
  padding: 1rem;
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  box-shadow: var(--card-shadow);
}

.card > * + * {
  margin-top: 1rem;
}

.card h2,
.card h3
.card .card-heading {
  font-size: var(--size-6);
}

.card > .actions:only-child {
  margin: 0;
}

.card > .actions:first-child {
  margin-top: 0;
}