.skip-nav ul {
  margin: 0;
  padding: 0;
}

.skip-nav li {
  list-style: none;
}

.skip-nav a {
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  z-index: 100;
  padding: .4rem .8rem;

  border-radius: 999rem;
  background: var(--color-accent-1);
  font-weight: var(--weight-bold);
  color: var(--color-white);

  text-decoration: none;
}

.skip-nav a:focus {
  top: .5rem;
  left: .5rem;
}