/* sprints */
.sprint-card {
  display: grid;
  grid-template-areas:
    'logo main main main main main main'
    'logo main main main main main main'
    'logo footer footer footer footer footer footer';
  
  padding: 1em;
  border: 1px solid;
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
}

.sprint-card .logo {
  grid-area: logo;
  max-width:10em;
  max-height:10em;
  height:auto;
  width:auto;
  margin-right: 1em;
}

.sprint-card .logo img {
  border-radius: var(--card-border-radius);
  border: 1px solid var(--color-dark-gray);
}
  
.sprint-card .description{
  grid-area: main;
}
  
.sprint-card .actions {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
