.dashboard-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card:empty {
  display: none;
}

.dashboard-card .card-heading,
.dashboard-card h3 {
  font-size: var(--size-5);
}

.dashboard-section-heading {
  font-size: var(--size-3);
}

@media (min-width: 768px) {
  .dashboard-cards {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-section {
    grid-column: span 2;
  }
}