.registration-form form {
  width: 100%;
  max-width: 100%;
  border: none;
  box-shadow: none;
}

.registration-form .form-container {
  border: none;
}

.registration-form .form-section {
  padding: 1rem 1rem 2rem;
  border: var(--card-border);
  border-radius: var(--card-border-radius);
}

.registration-form .form-section + .form-section {
  margin-top: var(--v-spacing);
}

.registration-form .form-container > h2 {
  margin-top: 0;
}

.registration-form form > .actions {
  margin-top: 0;
  justify-content: center;
}

.registration-form .form-section-fieldset > legend {
  margin-bottom: var(--v-spacing);
  text-align: center;
}

.registration-form .conference-tees {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: repeat(3, 1fr);
}

.registration-form .conference-tees-product {
  border: 1px dashed;
  border-radius: 5px;
  margin: .5em;
  padding: .5em;
}

/* pay what you want grid */
.pwywwq-grid-break + .pwywwq-group {
  grid-column-start: 1;
}

@media (min-width: 768px) {
  .registration-form .form-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* presentations */
.registration-form .presentations .session {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em;
}

.registration-form .presentations .session .presentation {
  flex: 1 0 25%;
  border: 1px dashed;
  border-radius: 5px;
  margin: .5em;
  padding: .5em;
  max-width: 50%;
  overflow-wrap: anywhere;
  font-size: .9em;
}

.registration-form .presentations .sold-out {
  color: #212529;
  background-color: lightgrey;
}

.registration-form .presentations .disabled {
  color: #212529;
  background-color: lightgrey;
}
