.button,
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;

  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  gap: .5ch;

  padding: .5em .85em;

  box-shadow: 0 6px 0 0 var(--color-black);
  border: 1px solid currentColor;
  border-radius: 999em;

  font-size: 1rem;
  font-weight: var(--weight-bold);
  line-height: 1;
  color: var(--secondary-color);

  cursor: pointer;

  transition: transform .1s;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 0 0 var(--secondary-color);
  transition: all .2s;
}

.button {
  text-decoration: none;
}

.button,
button,
input[type="button"],
input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Sizes */
.button.xsmall {
  font-size: .75rem;
}

.button.small {
  font-size: .875rem;
}

.button.large {
  font-size: 1.25rem;
}

.button.xlarge {
  font-size: 1.5rem;
}

.button.xxlarge {
  font-size: 2rem;
}

/* Styles */
.button.inverse {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* States */
.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* Collections of buttons/actions */
.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.actions.center {
  justify-content: center;
}
