form {
  padding: 2rem 1rem;
  margin-right: auto;
  margin-left: auto;

  width: clamp(280px, 100%, 38rem);

  border-radius: var(--card-border-radius);
  border: var(--card-border);
  box-shadow: var(--card-shadow);
}

form.form-wide {
  width: clamp(280px, 100%, 60rem);
}

@media (min-width: 560px) {
  form {
    padding: 2.25rem 2rem;
  }
}

form > *:not([type="hidden"]) + * {
  margin: 1.25rem 0;
}

form > :is(button, .button):last-child {
  margin-top: 1.25rem;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  margin: 0 auto 1rem;
}

legend > * {
  margin-top: 0;
}

.form-section + .form-section {
  padding-top: 1em;
}

label {
  display: block;
  margin-bottom: .25rem;
  font-weight: var(--weight-bold);
}

input[type="checkbox"],
input[type="radio"] {
  width: .9em;
  height: .9em;
}

p + form {
  margin-top: 1.25rem;
}

/* If a label contains a checkbox/radio */
label:has(input) {
  display: inline-flex;
  align-items: center;
  gap: .5ch;
}

/* If a paragraph has checkbox/radio */
p:has(input[type="checkbox"], input[type="radio"]) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5ch;
}

/* Most likely used with checkboxes/radios */
label + label {
  margin-left: var(--h-spacing);
}

select {
  appearance: none;
}

label:has(+ input[type="checkbox"], input[type="radio"]) {
  margin-bottom: 0;
}

input:not(.button, [type="button"], [type="checkbox"], [type="radio"]),
select,
textarea {
  width: 100%;
  padding: .35rem .75rem;

  border-radius: .25rem;
  border: 1px solid var(--field-border-color);
}

input:readonly,
textarea:readonly {
  background-color: var(--field-disabled-color);

  & :hover {
    cursor: not-allowed;
    transition: none;
  }
}

select {
  padding-left: .75rem;
  background-image: url("../../icons/chevron-down-black.3b31ce09aa8f.svg");
  background-position: right .5rem center;
  background-repeat: no-repeat;
}

.helptext,
.help-block {
  display: block;
  margin-top: .25rem;
  font-size: .85rem;
}

.help-inline strong {
  color: var(--color-accent-5);
}

.error-text {
  font-weight: var(--weight-bold);
  color: var(--color-error);
}

.form-container {
  border: var(--card-border);
  border-radius: var(--card-border-radius);
}

.form-container > :is(h2, h3) {
  margin-top: 1rem;
  text-align: center;
}

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
