table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid currentColor;
}

.table-leads {
  font-size: smaller;
}

td,
th {
  padding: .5rem;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: var(--table-stripe-bg);
}

.dataTable .selected {
  background-color: var(--table-selected) !important;
}
