/* typography */
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
  font-weight: var(--weight-bold);
  line-height: var(--heading-line-height);
}

h1 { font-size: var(--size-1); }
h2 { font-size: var(--size-2); }
h3 { font-size: var(--size-3); }
h4 { font-size: var(--size-4); }
h5 { font-size: var(--size-5); }
h6 { font-size: var(--size-6); }

:is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
  text-wrap: balance;
}

p {
  margin: 0;
}

b, 
strong {
  font-weight: var(--weight-bold);
}

hgroup {
  margin: 0 auto 1rem;
  text-align: center;
}

hgroup > * {
  margin-top: 0;
}

.lead {
  font-size: var(--size-6);
}

.eyebrow {
  display: block;
  font-size: var(--size-5);
  font-weight: var(--weight-bold);
  opacity: .8;
}

.noto-font {
  font-family: 'NotoEmoji';
  font-size: 2em;
}
